<a href="https://colab.research.google.com/github/joaopedropeira/Python/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# `Python - Introduction`

**Objetctive**: Apresentar a biblioteca pandas, importação de dados, DataFrame e funções aritméticas.
<br><br>

---

## Numeric Types & Operators

Python provides four basic types of numbers: 
* Plain integers
* Long integers
* Floating point numbers
* Complex numbers.

Numbers all have several things in common. Principally, the standard arithmetic operators of "+", "-", "*", "/", "%" and "**" are all available for all of these numeric types.<br><br>

> Operators:

<table>
  <tr>
    <th>Operator</th>
    <th>Operation</th>
  </tr>
  <tr>
    <td>+</td>
    <td>Addition</td>
  </tr>
    <td>-</td>
    <td>Subtraction</td>
  </tr>
  <tr>
    <td>*</td>
    <td>Multiplication</td>
  </tr>
  <tr>
    <td>/</td>
    <td>Division</td>
  </tr>
  <tr>
    <td>**</td>
    <td>Power</td>
  </tr>
  <tr>
    <td>%</td>
    <td>Remainder</td>
  </tr>
</table>

In [ ]:
print(1 + 1)
print(8 - 4)
print(2 * 5)
print(10 / 2)
print(2 ** 3)

2
4
10
5.0
8

a

## Chapter Two