<a href="https://colab.research.google.com/github/joaopedropeira/Python/blob/main/Scientific_Computing_Python_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Python Lists
---
### Programming


* **Algorithms**<br>
A set of rules or steps used to solve a problem

* **Data Structures**<br>
A particualr way of organizing data in a computer
<br><br>

### What is not a "Collection"


---


* Most of our **variables** have one value in them - when we put a new value in the **variable**, the old value is **overwritten**

In [ ]:
x = 2
x = 4
print(x)

4

### A List is a kind of Collection


---


* A **collection** allows us to put **many values** in a single "variable"

* A **collection** is nice because we can carry all **many values** around in one convenient package

```
friends = ['Joao', 'Maria', 'Isabela']
```

```
fruits = ['Banana', 'Apple', 'Watermelon']
```

### List Constants


---


* List Constants are **surrounded** by square brackets ([ | ]) and the elements in the list are separated by commas (,)

* A list element can be any Python object - even **another list**

* A list can be **empty**

In [ ]:
print([1, 10, 20])

[1, 10, 20]

In [ ]:
print(['red', 'green', 'blue'])

['red', 'green', 'blue']

In [ ]:
print(['red', 1, 'blue'])

['red', 1, 'blue']

In [ ]:
print([1, ['red', 'green', 'blue'], 2, 3])

[1, ['red', 'green', 'blue'], 2, 3]

In [ ]:
print([])

[]

In [ ]:
for number in [0, 1, 2, 3, 4, 5]:
    print(number)
print('End')

0
1
2
3
4
5
End

### Looking inside Lists


---


* Just like strings, we can get at any single element in a list using an index specified in **square brackets** [ | ]


```
fruits = ['Banana', 'Apple', 'Watermelon']
```
Banana = 0<br>
Apple = 1<br>
Watermelon = 2<br>

In [ ]:
fruits = ['Banana', 'Apple', 'Watermelon']
print(fruits[1])

Apple

### Lists are Mutable


---


* Strings are **"immutable"** - we **can't change** the contents of a string - we must make a new string to make any change

* Lists are **"mutable"** - we **can change** an element of a list using the **index operator**
<br>

In [ ]:
lotto = [2, 14, 26, 41, 63]
print(lotto)

[2, 14, 26, 41, 63]

In [ ]:
lotto[2] = 28
print(lotto)

[2, 14, 28, 41, 63]

In [ ]:
#error because strings are 'immutable'
fruit = 'apple'
fruit[0] = 'b'

TypeError: ignored

### How Long is a List?


---


* The **len()** function takes a list as a parameter and returns the number of **elements** in the list

* Actually **len()** tell us the number of elemetents of any set or sequence (such as string...)

In [ ]:
text = 'Hello World!'
print(len(text))

x = [1, 2, 'joao', 3]
print(len(x))

12
4

### Using the **range** function


---


* The **range()** function **returns** a ***list of numbers*** that range from **zero** to **one less** than the **parameter**

* We can construct an **index loop** using **for** and **integer iterator**

In [ ]:
print(range(4))

range(0, 4)

In [ ]:
fruits = ['banana', 'apple', 'strawberry']
print(len(fruits))

3

In [ ]:
print(range(len(fruits)))

range(0, 3)

In [ ]:
#A tale of two loops
friends = ['Joao', 'Maria', 'Isabela']
print(len(friends))

print(range(len(friends)))

3
range(0, 3)

In [ ]:
#this loop just gonna through whatever is in the list 'friends'
friends = ['Joao', 'Maria', 'Isabela']

for friend in friends:
    print('Hello my friend,', friend)

Hello my friend, Joao
Hello my friend, Maria
Hello my friend, Isabela

In [ ]:
#Instead of looping through a list itself, we use the range(len())
for i in range(len(friends)):
    friend = friends[i]
    print('Hello my friend,', friend)

Hello my friend, Joao
Hello my friend, Maria
Hello my friend, Isabela

## Working with Lists
---
### Concatenating lists using '+'


* We can create a new list by adding two existing lists together

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b
print(c)
print(a)

[1, 2, 3, 4, 5, 6]
[1, 2, 3]

### Lists can be sliced using ':'


* Remember: Just like in strings, the second number is **up to but not including**

In [ ]:
a = [0, 9, 18, 27, 36, 45, 54, 63, 82, 90]
a[1:3]

[9, 18]

In [ ]:
a[:4]

[0, 9, 18, 27]

In [ ]:
a[2:]

[18, 27, 36, 45, 54, 63, 82, 90]

In [ ]:
a[:]

[0, 9, 18, 27, 36, 45, 54, 63, 82, 90]

In [ ]:
#List methods
x = list()
type(x)

list

In [ ]:
dir(x)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

### Building a List from Scratch


* We can **create** an **empty list** and then **add elements** using the **append** method

* The list stays in order and new elements are **added** at the **end** of the **list**

In [ ]:
stuffs = list()
print(stuffs)

[]

In [ ]:
stuffs.append('book')
stuffs.append(100)
stuffs.append('Third')
print(stuffs)

['book', 100, 'Third']

### Is something in a List?


* Python provides **two operators** that let you **check** if an **item** is in a **list**

* These are logical operators that return **True** or **False**

* They **do not modify** the list

In [ ]:
some = [1, 2, 3, 4, 5, 6]
5 in some

True

In [ ]:
15 in some

False

In [ ]:
20 not in some

True

### Lists are in Order


* A list **can hold many items** and **keeps** those items in the **order** until we do something to change the order

* A list can be sorted (change its order)

* The **sort** method (unlike strings) means "sort yourself"

In [ ]:
friends = ['Joao', 'Maria', 'Isabela']
friends.sort()
print(friends)

['Isabela', 'Joao', 'Maria']

### Built-in Functions and Lists


* There are a number of **functions** built into Python that take lists as parameters

In [ ]:
nums = [1, 12, 34, 45, 25, 46, 7]
print(len(nums))

print(max(nums))

print(min(nums))

print(sum(nums))

print(sum(nums) / len(nums))

7
46
1
170
24.285714285714285

## Strings and Lists
---

* Split function

* Split **breaks** a string into **parts** and p**roduces** a **list of strings**. We think of these as words. We can access a particular word or loop through all the words

* When you **don't specify a delimiter**, multiple spaces are treated like **one delimiter**

* You **can specify** what **delimiter character** to use in the spliting

In [ ]:
abc = 'With three words'
stuff = abc.split()
print(stuff)

['With', 'three', 'words']

In [ ]:
print(len(stuff))

print(stuff[0])

3
With

In [ ]:
for word in stuff:
    print(word)

With
three
words

In [ ]:
#Without specifying a delimiter, *multiple spaces are treated like one*
line = 'A lot of             spaces'
etc = line.split()
print(etc)

['A', 'lot', 'of', 'spaces']

In [ ]:
line = 'first;second;third'
thing = line.split()
print(thing)

['first;second;third']

In [ ]:
print(len(thing))

1

In [ ]:
#Specifying a delimiter
line2 = 'first;second;third'
thing2 = line2.split(';')
print(thing2)

['first', 'second', 'third']

In [ ]:
print(len(thing2))

3

### The Double Split Pattern
---

* Sometimes we **split a line one way**, and then grab one of the pieces of the line and **split that piece again**

* For example, we want to achieve the part **after of the @ sign** for e-mail addresses:

In [ ]:
line = 'From joaopedromarques76@gmail.com Sat Jan 5 09:14:16 2022'

words = line.split()
email = words[1]
print(email)

joaopedromarques76@gmail.com

In [ ]:
piece = email.split('@')
print(x[1])

gmail.com

## Python Dictionaries


### List and Dictionary...

* List is a linear collection of values that stay in order


* Dictionary is a "bag" of values, each with its own label

### Dictionary - **Key Value Pairs**

* Dictionaries allow us to do **fast database-like operations** in Python

* Dictionaries have different names in different languagues<br>
Property Bag - C#/.NET<br>
Properties or Map or HashMap - Java

* List **index** their entries based on the **position** in the list

* Dictionaries have **no order**

* So we index the things we put in the dictionary with a **"lookup tag"**

In [ ]:
purse = dict()
purse ['money'] = 12
purse ['candy'] = 3
purse ['tissues'] = 75
print(purse)

{'money': 12, 'candy': 3, 'tissues': 75}

In [ ]:
print(purse['candy'])

3

In [ ]:
purse['candy'] = purse['candy'] + 2
print(purse)

{'money': 12, 'candy': 5, 'tissues': 75}

### Comparing Lists and Dictionaries

* Dictionaries are like lists except that they **use keys** instead of numbers to **lookup values**

In [ ]:
#list
mylist = list()
mylist.append(21)
mylist.append(13)
print(mylist)
mylist[0]

[21, 13]

21

In [ ]:
#dictionary
ddd = dict()
ddd['age'] = 21
ddd['course'] = 182
print(ddd)

{'age': 22, 'course': 182}

In [ ]:
ddd['age'] = 22
print(ddd)

{'age': 22, 'course': 182}

### Dictionaries Literals (Constants)

* Dictionary literals use curly braces and have a list of **key : value pairs**

* You can make an **empty dictionary** using empty curly braces

In [ ]:
my_dictionary = {'joao' : 1, 'maria' : 2, 'jose' : 3}
print(my_dictionary)

{'joao': 1, 'maria': 2, 'jose': 3}

In [ ]:
my_empty_dictionary = {}
print(my_empty_dictionary)

{}

In [ ]:
my_dict = {"Fri": 20, "Thu": 6, "Sat": 1}
my_dict["Thu"] = 13
my_dict["Sat"] = 2
my_dict["Sun"] = 9
print(my_dict)

{'Fri': 20, 'Thu': 13, 'Sat': 2, 'Sun': 9}

## One of the Common Applications of Dictionaries: Counting the Frequency of Thigns

### Many Counters with a Dictionary

* One common use of dictionaries is **counting** how often we 'see' something

In [ ]:
dictionary1 = {"joao": 1, "maria": 2}
print(dictionary1)

{'joao': 1, 'maria': 2}

In [ ]:
dictionary1['joao'] = dictionary1['joao'] + 2
print(dictionary1)

{'joao': 3, 'maria': 2}

### Dictionary Tracebacks 

* It is an **error** to **reference** a **key** which **is not in** the **dictionary**

* We can use the **in** operator to see if a **key** is in the **dictionary**

In [ ]:
print(dictionary1)

{'joao': 3, 'maria': 2}

In [ ]:
#Traceback
print(dictionary1['jose'])

KeyError: ignored

In [ ]:
'jose' in dictionary1
#with this we can say: "If its not there, put it in. If it is there, add one to it"

False

### Counting Names...

* When we see a new name, we need to **add** a **new entry** in the **dictionary** and if this is the **second** or **later** **time** we have seen the name, we simply **add one** to the **count** in the **dictionary** under that name

In [ ]:
#creating an empty *list*
counts = {}

#creating a list of names
names = ['Joao', 'Maria', 'Jose', 'Joao', 'Marco']

#couting names
for name in names:
    if name not in counts:
        counts[name] = 1
    else:
        counts[name] = counts[name] + 1
print(counts)

{'Joao': 2, 'Maria': 1, 'Jose': 1, 'Marco': 1}

### The **Get** method for dictionaries

* The **pattern** of **checking** to see if a **key** is **already** in a **dictionary** and **assuming** a **default value** if the **key is not there** is so c**ommon** that there is a **method** called **get()** that **does this** for us

* Default value if key does not exist (and no Traceback)

In [ ]:
if name in counts:
    x = counts[name]
else:
    x = 0

#the method get collapses these 4 lines into one line
x = counts.get(name, 0)

### Simplified couting with get()

* We can use **get()** and provide a **default value** of **zero** when the **key* is **not yet in the dictionary** - and then just add one

In [ ]:
#creating an empty *list*
counts = {}

#creating a list of names
names = ['Joao', 'Maria', 'Jose', 'Joao', 'Marco']

for name in names:
    counts[name] = counts.get(name,0) + 1

print(counts)

{'Joao': 2, 'Maria': 1, 'Jose': 1, 'Marco': 1}

In [ ]:
#in this example, we creted a dictionary with the keys: quincy, mrugesh, beau and 0. 
#In the print, we are looking for the value 'kris', if not existis, print the default value '0'
#If exists, print the value of that key
counts = { 'quincy' : 1 , 'mrugesh' : 42, 'beau': 100, '0': 10}
print(counts.get('kris', 0))

0

## Dictionaries and Loops

### Counting Pattern

* The general pattern to count the words in a line of text is just to **split** the **line** into **words**, then **loop through** the **words** and use a **dictionary** to **track the count** of **each word independently**

In [ ]:
lorem_dict = {}
print('Enter here a line of text:')
line = input('')

words = line.split()
print('Your line of text:', line)
print('Words of that line:', words)

print('Counting...')

for word in words:
    lorem_dict[word] = lorem_dict.get(word,0)+1
print('Counts', lorem_dict)

Enter here a line of text:
Coffee with milk or Coffee with water?
Your line of text: Coffee with milk or Coffee with water?
Words of that line: ['Coffee', 'with', 'milk', 'or', 'Coffee', 'with', 'water?']
Counting...
Counts {'Coffee': 2, 'with': 2, 'milk': 1, 'or': 1, 'water?': 1}

### Definite Loops and Dictionaries

* Even though dictionaries are not stored in order, we **can write** a **for loop** that **goes through all the entries in a dictionary** - **actually** it **goes** **thorugh** all of the **keys** in the **dictionary** and **looks up** the **values**

In [4]:
counts = {'chuck' : 1, 'annie' : 42, 'jan' : 100}

for key in counts:
    print(key, counts[key])

chuck 1
annie 42
jan 100

In [7]:
print(counts['annie'])

42

In [3]:
counts = { 'chuck' : 1 , 'annie' : 42, 'jan': 100}
for key in counts:
    if counts[key] > 10:
        print(key, counts[key])

annie 42
jan 100

### Retrieving lists of Keys and Values

* You can get a **list** of **keys**, **values** or **items** (both) from a **dictionary**

In [15]:
#Keys as result
counts = { 'chuck' : 1 , 'annie' : 42, 'jan': 100}
print(list(counts))

['chuck', 'annie', 'jan']

In [12]:
#Values as result
print(counts.values())

dict_values([1, 42, 100])

In [14]:
#Items (Key & Values) as result
print(counts.items())

dict_items([('chuck', 1), ('annie', 42), ('jan', 100)])

### **Two** Iteration Variables

* We loop through the key-value pairs in a dictionary using **two** iteration variables

* Each iteration, the **first variable** is the **key** and the **second variable** is the **corresponding value** for the **key**

In [16]:
counts = { 'chuck' : 1 , 'annie' : 42, 'jan': 100}
#ab = key | cd = value
for ab,cd in counts.items():
    print(ab,cd)

chuck 1
annie 42
jan 100

In [26]:
#connecting to google drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [38]:
#File with three lines
#Hello World!
#cheese
#Hello World! 2
xfile = open('/content/drive/MyDrive/Colab Notebooks/test.txt')

counts = {}

for line in xfile:
    words = line.split()
    print('Spliting the words:', words)
    for word in words:
        counts[word] = counts.get(word, 0) + 1

print('Dictionary after spliting the words and counts:', counts)

bigcount = None
bigword = None
#word is the key | count is the value
for word,count in counts.items():
    if bigcount is None or count > bigcount:
        bigword = word
        bigcount = count

print('Big word:', bigword, 'and Big count:', bigcount)

Spliting the words: ['Hello', 'World!']
Spliting the words: ['cheese']
Spliting the words: ['Hello', 'World!', '2']
Dictionary after spliting the words and counts: {'Hello': 2, 'World!': 2, 'cheese': 1, '2': 1}
Big word: Hello and Big count: 2