<a href="https://colab.research.google.com/github/joaopedropeira/Python/blob/main/Scientific_Computing_Python_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Python Lists
---
### Programming


* **Algorithms**<br>
A set of rules or steps used to solve a problem

* **Data Structures**<br>
A particualr way of organizing data in a computer
<br><br>

### What is not a "Collection"


---


* Most of our **variables** have one value in them - when we put a new value in the **variable**, the old value is **overwritten**

In [1]:
x = 2
x = 4
print(x)

4

### A List is a kind of Collection


---


* A **collection** allows us to put **many values** in a single "variable"

* A **collection** is nice because we can carry all **many values** around in one convenient package

```
friends = ['Joao', 'Maria', 'Isabela']
```

```
fruits = ['Banana', 'Apple', 'Watermelon']
```

### List Constants


---


* List Constants are **surrounded** by square brackets ([ | ]) and the elements in the list are separated by commas (,)

* A list element can be any Python object - even **another list**

* A list can be **empty**

In [9]:
print([1, 10, 20])

[1, 10, 20]

In [6]:
print(['red', 'green', 'blue'])

['red', 'green', 'blue']

In [5]:
print(['red', 1, 'blue'])

['red', 1, 'blue']

In [7]:
print([1, ['red', 'green', 'blue'], 2, 3])

[1, ['red', 'green', 'blue'], 2, 3]

In [8]:
print([])

[]

In [10]:
for number in [0, 1, 2, 3, 4, 5]:
    print(number)
print('End')

0
1
2
3
4
5
End

### Looking inside Lists


---


* Just like strings, we can get at any single element in a list using an index specified in **square brackets** [ | ]


```
fruits = ['Banana', 'Apple', 'Watermelon']
```
Banana = 0<br>
Apple = 1<br>
Watermelon = 2<br>

In [11]:
fruits = ['Banana', 'Apple', 'Watermelon']
print(fruits[1])

Apple

### Lists are Mutable


---


* Strings are **"immutable"** - we **can't change** the contents of a string - we must make a new string to make any change

* Lists are **"mutable"** - we **can change** an element of a list using the **index operator**
<br>

In [13]:
lotto = [2, 14, 26, 41, 63]
print(lotto)

[2, 14, 26, 41, 63]

In [14]:
lotto[2] = 28
print(lotto)

[2, 14, 28, 41, 63]

In [16]:
#error because strings are 'immutable'
fruit = 'apple'
fruit[0] = 'b'

TypeError: ignored

### How Long is a List?


---


* The **len()** function takes a list as a parameter and returns the number of **elements** in the list

* Actually **len()** tell us the number of elemetents of any set or sequence (such as string...)

In [17]:
text = 'Hello World!'
print(len(text))

x = [1, 2, 'joao', 3]
print(len(x))

12
4

### Using the **range** function


---


* The **range()** function **returns** a ***list of numbers*** that range from **zero** to **one less** than the **parameter**

* We can construct an **index loop** using **for** and **integer iterator**

In [19]:
print(range(4))

range(0, 4)

In [20]:
fruits = ['banana', 'apple', 'strawberry']
print(len(fruits))

3

In [21]:
print(range(len(fruits)))

range(0, 3)

In [26]:
#A tale of two loops
friends = ['Joao', 'Maria', 'Isabela']
print(len(friends))

print(range(len(friends)))

3
range(0, 3)

In [25]:
#this loop just gonna through whatever is in the list 'friends'
friends = ['Joao', 'Maria', 'Isabela']

for friend in friends:
    print('Hello my friend,', friend)

Hello my friend, Joao
Hello my friend, Maria
Hello my friend, Isabela

In [27]:
#Instead of looping through a list itself, we use the range(len())
for i in range(len(friends)):
    friend = friends[i]
    print('Hello my friend,', friend)

Hello my friend, Joao
Hello my friend, Maria
Hello my friend, Isabela

## Working with Lists
---
### Concatenating lists using '+'


* We can create a new list by adding two existing lists together

In [31]:
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b
print(c)
print(a)

[1, 2, 3, 4, 5, 6]
[1, 2, 3]

### Lists can be sliced using ':'


* Remember: Just like in strings, the second number is **up to but not including**

In [34]:
a = [0, 9, 18, 27, 36, 45, 54, 63, 82, 90]
a[1:3]

[9, 18]

In [35]:
a[:4]

[0, 9, 18, 27]

In [36]:
a[2:]

[18, 27, 36, 45, 54, 63, 82, 90]

In [37]:
a[:]

[0, 9, 18, 27, 36, 45, 54, 63, 82, 90]

In [38]:
#List methods
x = list()
type(x)

list

In [39]:
dir(x)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

### Building a List from Scratch


* We can **create** an **empty list** and then **add elements** using the **append** method

* The list stays in order and new elements are **added** at the **end** of the **list**

In [46]:
stuffs = list()
print(stuffs)

[]

In [47]:
stuffs.append('book')
stuffs.append(100)
stuffs.append('Third')
print(stuffs)

['book', 100, 'Third']

### Is something in a List?


* Python provides **two operators** that let you **check** if an **item** is in a **list**

* These are logical operators that return **True** or **False**

* They **do not modify** the list

In [48]:
some = [1, 2, 3, 4, 5, 6]
5 in some

True

In [49]:
15 in some

False

In [50]:
20 not in some

True

### Lists are in Order


* A list **can hold many items** and **keeps** those items in the **order** until we do something to change the order

* A list can be sorted (change its order)

* The **sort** method (unlike strings) means "sort yourself"

In [54]:
friends = ['Joao', 'Maria', 'Isabela']
friends.sort()
print(friends)

['Isabela', 'Joao', 'Maria']

### Built-in Functions and Lists


* There are a number of **functions** built into Python that take lists as parameters

In [57]:
nums = [1, 12, 34, 45, 25, 46, 7]
print(len(nums))

print(max(nums))

print(min(nums))

print(sum(nums))

print(sum(nums) / len(nums))

7
46
1
170
24.285714285714285