<a href="https://colab.research.google.com/github/joaopedropeira/Python/blob/main/Scientific_Computing_Python_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Strings

String Data Type

* A string is a sequence of characters

* For strings, + means "concatenate"

* When a string contains numbers, it is still a string

* We can convert numbers in a string into a number using int()

In [2]:
str1 = 'Hello'
str2 = 'World'
str3 = str1 + str2
print(str3)

HelloWorld

In [3]:
str3 = '123'

x = int(str3) + 1
print(x)

124

### Reading and Converting

We prefer to read data in using strings and then parse and convert the data as we need

This gives us more control over error situations and/or bad user input

Raw input numbers must be converted from string

In [4]:
name = input('Name:')
print(name)

Name:Joao
Joao

In [7]:
sum = input('Number')
x = int(sum) + 1
print(x)

Number10
11

### Looking Inside Strings

We can get any single character in a string using an index specified in **square brackets**

The index value must be an integer and starts at 0

The index value can be an expression that is computed

For example:<br>
b a n a n a <br>
0 1 2 3 4 5

In [8]:
fruit = 'banana'
letter = fruit[1]
print(letter)

a

In [9]:
x = 3
w = fruit[x - 1]
print(w)

n

### A Character Too Far

You will get a **python error** if you attempt to index beyond the end of a string

Be careful when constructing index values and slices

In [10]:
error = 'abc'
print(error[5])

IndexError: ignored

### Strings Have Length

The built-in function **len** give us the length of a string, NOT the position

In [11]:
fruit = 'banana'
print(len(fruit))

6

### Looping Through Strings

Using a **while** statement and an **iteration variable** and the **len** function, we can construct a loop to look at each of the letters in a string individually

In [13]:
fruit = 'banana'
index = 0

while index < len(fruit):
    letter = fruit[index]
    print(index, letter)
    index = index + 1

0 b
1 a
2 n
3 a
4 n
5 a

### Looping Through Strings - for

A define loop using a **for** statement is much more elegant

The **iteration variable** is completely taken care of by the for loop

In [19]:
fruit = 'apple'
for letter in fruit:
    print(letter)

a
p
p
l
e

In [20]:
for n in "banana":
    print(n)

b
a
n
a
n
a

### Looping and Counting

This is a simple loop that loops through each letter in a string and counts the number of times the loop encounters the *a* character

In [22]:
word = 'banana'
count = 0

for letter in word:
    if letter == 'a':
        count = count + 1
print(count)

3

### Looking Deeper into In

The **iteration variable** "iterates" through the sequence (ordered set)

The block (body) of code is executed once for each value in the sequence

The iteration variable moves through all of the values in the sequence

In [23]:
#letter is the iteration variable and banana is a six-character string
for letter in 'banana':
    print(letter)

b
a
n
a
n
a

## Intermediate Strings

### Slicing Strings

* We can also look at any continuous section of a string using a **colon operator**

* The second number is one beyond the end of the slice - up to but not including

* If the second number is beyond the end of the string, it stops at the end

For example:<br>
M - o - n - t - y -  -  P - y - t - h - o - n <br>
0 - 1 - 2 - 3 - 4 - 5 - 6 - 7 - 8 - 9 - 10 - 11

In [24]:
string = 'Monty Python'
print(string[0:4])

print(string[6:7])

print(string[6:20])

Mont
P
Python