<a href="https://colab.research.google.com/github/joaopedropeira/Python/blob/main/Scientific_Computing_Python_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Strings

String Data Type

* A string is a sequence of characters

* For strings, + means "concatenate"

* When a string contains numbers, it is still a string

* We can convert numbers in a string into a number using int()

In [ ]:
str1 = 'Hello'
str2 = 'World'
str3 = str1 + str2
print(str3)

HelloWorld

In [ ]:
str3 = '123'

x = int(str3) + 1
print(x)

124

### Reading and Converting

We prefer to read data in using strings and then parse and convert the data as we need

This gives us more control over error situations and/or bad user input

Raw input numbers must be converted from string

In [ ]:
name = input('Name:')
print(name)

Name:Joao
Joao

In [ ]:
sum = input('Number')
x = int(sum) + 1
print(x)

Number10
11

### Looking Inside Strings

We can get any single character in a string using an index specified in **square brackets**

The index value must be an integer and starts at 0

The index value can be an expression that is computed

For example:<br>
b a n a n a <br>
0 1 2 3 4 5

In [ ]:
fruit = 'banana'
letter = fruit[1]
print(letter)

a

In [ ]:
x = 3
w = fruit[x - 1]
print(w)

n

### A Character Too Far

You will get a **python error** if you attempt to index beyond the end of a string

Be careful when constructing index values and slices

In [ ]:
error = 'abc'
print(error[5])

IndexError: ignored

### Strings Have Length

The built-in function **len** give us the length of a string, NOT the position

In [ ]:
fruit = 'banana'
print(len(fruit))

6

### Looping Through Strings

Using a **while** statement and an **iteration variable** and the **len** function, we can construct a loop to look at each of the letters in a string individually

In [ ]:
fruit = 'banana'
index = 0

while index < len(fruit):
    letter = fruit[index]
    print(index, letter)
    index = index + 1

0 b
1 a
2 n
3 a
4 n
5 a

### Looping Through Strings - for

A define loop using a **for** statement is much more elegant

The **iteration variable** is completely taken care of by the for loop

In [ ]:
fruit = 'apple'
for letter in fruit:
    print(letter)

a
p
p
l
e

In [ ]:
for n in "banana":
    print(n)

b
a
n
a
n
a

### Looping and Counting

This is a simple loop that loops through each letter in a string and counts the number of times the loop encounters the *a* character

In [ ]:
word = 'banana'
count = 0

for letter in word:
    if letter == 'a':
        count = count + 1
print(count)

3

### Looking Deeper into In

The **iteration variable** "iterates" through the sequence (ordered set)

The block (body) of code is executed once for each value in the sequence

The iteration variable moves through all of the values in the sequence

In [ ]:
#letter is the iteration variable and banana is a six-character string
for letter in 'banana':
    print(letter)

b
a
n
a
n
a

## Intermediate Strings

### Slicing Strings

* We can also look at any continuous section of a string using a **colon operator**

* The second number is one beyond the end of the slice - **up to but not including**

* If the second number is beyond the end of the string, it stops at the end

For example:<br>
Monty|Python
<br>
M - o - n - t - y - | -  P - y - t - h - o - n <br>
0 - 1 - 2 - 3 - 4 - 5 - 6 - 7 - 8 - 9 - 10 - 11

In [ ]:
string = 'Monty|Python'
#we don't include four
print(string[0:4])

#start at six up to but not including seven
print(string[6:7])

#here, the second number is beyond the end of the string, so it stops in the end (11)
print(string[6:33])

Mont
P
Python



* If we **leave off** the **first number** or the **last number** of the slice, it is assumed to be the beginning or end of the string respectively

In [ ]:
string = 'Monty|Python'

#beginning up to the 2 but not including
print(string[:2])

#8 to the end
print(string[8:])

#full string
print(string[:])

Mo
thon
Monty|Python

### String Concatenation

* When the + operator is applied to strings, it means **concatenation**

In [ ]:
a = 'Hello'
b = a + 'World'
print(b)

c = a + ' ' + 'World'
print(c)

HelloWorld
Hello World

### Using **in** as a Logical Operator

* The **in** keyword can also be used to check to see if one string is "in" another string

* The **in** expression is a logical expression that returns **True** or **False** and can be used in an if statement

In [ ]:
fruit = 'banana'
'n' in fruit

True

In [ ]:
'm' in fruit

False

In [ ]:
'nan' in fruit

True

In [ ]:
if 'a' in fruit:
    print('Found it!')

Found it!

### String Library

* Python has a number of string **functions** which are in the **string library**

* These **functions** are already **built into** every string - we invoke them by appending the function to the string variable

* These **functions** do **not modify** the **original string**, instead they **return** a **new string** that has been altered

For example: the function **.lower()**

In [ ]:
example = 'Hello World!'
lower_example = example.lower()
print(lower_example)
print(example)

hello world!
Hello World!

In [ ]:
print('HELLO WORLD!'.lower())

hello world!

### Searching a String

* We use the **find()** function to search for a substring within another string

* **find()** finds the **first ocurrence** of the substring

* If the substring is not found, **find()** returns -1

* String position starts at 0<br>

Example:<br>
b a n a n a<br>
0 1 2 3 4 5

In [ ]:
fruit = 'banana'
searching = fruit.find('na')
print(searching)

2

In [ ]:
nosearching = fruit.find('z')
print(nosearching)

-1

### Making everything **UPPER CASE**

* We can make a copy of a string in **lower case** or **upper case**

* Often when we are searching for a string using **find()** we first convert the string to lower case so we can search a string regardless of case

In [ ]:
example = 'Hello World!'
example_upper = example.upper()
print(example_upper)

HELLO WORLD!

In [ ]:
example_lower = example.lower()
print(example_lower)

hello world!

In [ ]:
#using lower case + find
example2 = 'Hello World! My favorite fruit is Banana!'
searching = example2.find('world')
print(searching)

-1

In [ ]:
#using lower case + find
example2 = 'Hello World! My favorite fruit is Banana!'.lower()
searching = example2.find('world')
print(searching)

6

### Search and Replace

* The **replace()** function is like a "search and replace" operation in a word processor

* It replaces **all occurrences** of the **search string** with the **replacement string**

In [ ]:
example_search = 'Hello World! I really like my World!'
example_replace = example_search.replace('World', 'Moon')
print(example_replace)

Hello Moon! I really like my Moon!

### Stripping Whitespace

* Sometimes we want to take a string and remove whitespace at the beginning and/or end

* **lstrip()** and **rstrip()** remove whitespace at the left or right

* **strip()** removes both beginning and ending whitespace

In [ ]:
example_lstrip = '  Hello World  '
example_lstrip.lstrip()

'Hello World  '

In [ ]:
example_strip = '  Hello World  '
example_strip.strip()

'Hello World'

### Prefixes

* We can ask "Hey, does this line start with a particular string"?

* The **startswith()** will answer us

In [ ]:
line = 'Please have a nice day!'
line.startswith('Please')

True

In [ ]:
line.startswith('p')

False

In [ ]:
line.startswith('P')

True

### Parsing and Extracting

* In this example we want to know from which email (gmail, hotmail) the email was sent

In [ ]:
#searching for the @
email_from = 'From joaopedromarques76@gmail.com Sat Jan 5 10:30:52 2022'
atpos = email_from.find('@')
print (atpos)

23

In [ ]:
#now we're gonna look for whitespace after the '@'
sppos = email_from.find(' ',atpos)
print(sppos)

33

In [ ]:
#now we have in two variables the position of '@' (atpos) and the position of the space after the '@' (sppos)
host = email_from[atpos+1 : sppos]
print(host)

gmail.com

## Reading Files

### File Processing

* A text file can be thought of as a sequence of lines

<br>

### Opening a File

* Before we can read the contents of the file, we must tell Python **which file** we are going to work with and **what** we will be **doing with the file**

* This is done with the **open()** function

* **open()** returns a **"file handle"** - a variable to perform operations on the file

* Similiar to "File -> Open" in a Word Processor

### Using open()

* handle = open(filename, mode)

* returns a handle use to manipulate the file

* filename is a string

* **mode** is **optional** and should be **'r'** if we are planning to **read** the file and **'w'** if we are going to **write** to the file

### The newline Character

* We use a special character called the **newline** to indicate when a line ends

* We represent it as **\n** in strings

* **Newline** is still one character - not two

In [ ]:
example = 'Hello\nWorld!'
print(example)

Hello
World!

In [ ]:
example2 = 'X\n+\nY'
print(example2)
len(example2)

X
+
Y

5

## Files as a Sequence

### File Handle as a Sequence

* A **file handle** open for read can be treated as a **sequence of strings** where each line in the file is a string in the sequence

* We can use the **for** statement to iterate through a sequence

* A sequence is a **ordered set**

In [ ]:
#connecting to google drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#openening a test.txt file
xfile = open('/content/drive/MyDrive/Colab Notebooks/test.txt')
for cheese in xfile:
    print('cheese')

cheese
cheese

### Counting Lines in a File

* Open a **file** read-only

* Use a **for** loop to read each line

* **Count** the lines and print out the number of lines

In [ ]:
xfile = open('/content/drive/MyDrive/Colab Notebooks/test.txt')
count = 0

for line in xfile:
    count = count + 1
print('Line count', count)

Line count 2

### Reading the **Whole** File

* We can **read** the whole file (newlines and all) into a single string

In [ ]:
xfile = open('/content/drive/MyDrive/Colab Notebooks/test.txt')
read_xfile = xfile.read()

print(len(read_xfile))
print(read_xfile[:])

19
Hello World!
cheese

### Searching Through a File

* We can put an **if** statement in our **for** loop to only print lines that meet some criteria

In [ ]:
xfile = open('/content/drive/MyDrive/Colab Notebooks/test.txt')

for line in xfile:
    if line.startswith('Hello'):
        print(line)

Hello World!

### Searching Through a File - without "whitespaces"

* We can strip the whitespace from the right-hand side of the string using **rstrip()** from the string library

* The newline is considered "white space" and is **stripped**

In [ ]:
xfile = open('/content/drive/MyDrive/Colab Notebooks/test.txt')

for line in xfile:
    line = line.rstrip()
    if line.startswith('Hello'):
        print(line)

Hello World!

### Skipping with continue

* We can conveniently skip a line by using the **continue** statement

* What does the statement **continue** in the middle of a loop?<br>
Skips to the **next iteration** of the loop

In [ ]:
# 'Translation': if the line does not start with 'Hello', continue. Basically we have a skipping pattern
xfile = open('/content/drive/MyDrive/Colab Notebooks/test.txt')

for line in xfile:
    line = line.rstrip()
    if not line.startswith('Hello'):
        continue
    print(line)

Hello World!

### Using **in** to select lines

* We can look for a string anywhere in a line as our selection criteria

In [ ]:
#Using the continue skipping method, we're gonna read the lines if 'Hello' is not in the line, skip it. This is gonna print out all the lines that have 'Hello' in them
xfile = open('/content/drive/MyDrive/Colab Notebooks/test.txt')

for line in xfile:
    line = line.rstrip()
    if not 'Hello' in line:
        continue
    print(line)

Hello World!

### Bad file Names

* The 'dangerous' code is the line that open the files

* This line is gonna trace back if that file doesn't exist

In [ ]:
try:
    xfile = open('/content/drive/MyDrive/Colab Notebooks/test1.txt')
except:
    print('File cant be opened', xfile)
    quit()

File cant be opened <_io.TextIOWrapper name='/content/drive/MyDrive/Colab Notebooks/test.txt' mode='r' encoding='UTF-8'>

In [ ]:
try:
    xfile = open('/content/drive/MyDrive/Colab Notebooks/test.txt')
except:
    print('File cant be opened', xfile)
    quit()

count = 0
for line in xfile:
    line = line.rstrip()
    if line.startswith('Hello'):
        count=count+1
print('There were', count, 'Hello lines in', xfile )

There were 2 Hello lines in <_io.TextIOWrapper name='/content/drive/MyDrive/Colab Notebooks/test.txt' mode='r' encoding='UTF-8'>