<a href="https://colab.research.google.com/github/joaopedropeira/Python/blob/main/Scientific_Computing_Python_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# `Python - Introduction`

**Objetctive**: Apresentar a biblioteca pandas, importação de dados, DataFrame e funções aritméticas.
<br><br>

---

## Numeric Types & Operators

Python provides four basic types of numbers: 
* Plain integers;
* Long integers;
* Floating point numbers;
* Complex numbers.

Numbers all have several things in common. Principally, the standard arithmetic operators of "+", "-", "*", "/", "%" and "**" are all available for all of these numeric types.<br><br>

> Operators:

<table>
  <tr>
    <th>Operator</th>
    <th>Operation</th>
  </tr>
  <tr>
    <td>+</td>
    <td>Addition</td>
  </tr>
    <td>-</td>
    <td>Subtraction</td>
  </tr>
  <tr>
    <td>*</td>
    <td>Multiplication</td>
  </tr>
  <tr>
    <td>/</td>
    <td>Division</td>
  </tr>
  <tr>
    <td>**</td>
    <td>Power</td>
  </tr>
  <tr>
    <td>%</td>
    <td>Remainder</td>
  </tr>
 </table>

In [ ]:
print(1 + 1)
print(8 - 4)
print(2 * 5)
print(10 / 2)
print(2 ** 3)

2
4
10
5.0
8

<br>

## Operator Procedence

Parenthesis "()" is the most important thing, followed by:

1. Power;
2. Multiplication, Division and Remainder;
3. Addition and Subtraction.

If there are 2 operators with the same importance, the order of execution must be done from left to right.

In the example below, the order of execution will be:

1 + <b>2 ** 3</b> / 4 * 5<br>
1 + <b>8 / 4</b> * 5<br>
1 + <b>2 * 5</b><br>
<b>1 + 10</b><br>
11.0

In [ ]:
print(1 + 2 ** 3 / 4 * 5)

11.0

## Integer to Float?
When you put an integer and floating point number in a expression, the integer is **implicity** converted to a float:

In [ ]:
print(float(99) + 100)

199.0

In [ ]:
print(99 + 100)

199

You can control this with the functions Int() and Float()<br><br>

## Differentiating an integer number and a string

Python knows the difference between an integer number and a string. For example:

"+" means "**addition**" if something is a number, but<br>
"+" also means "**concatenate**" if something is a string

In [ ]:
x = 'hello ' + 'world'
print(x)

hello world

In [ ]:
x = 1 + 5 
print(x)

6

You can't add 1 to a string:

In [ ]:
#this will result in an error
x = 1 + 'test'
print(x)

TypeError: ignored

We can ask to Python what type something is by using the **type()** function:

In [ ]:
type(1)

int

In [ ]:
type('Hello World')

str

In [ ]:
type(12.5)

float

You can also use a set of built in functions like float and integer to convert from one to another:

In [ ]:
a = 10
type(a)

int

In [ ]:
b = float(a)
print(b)

10.0

In [ ]:
type(b)

float

## Integer Division

Integer division produces a floating point result:

In [ ]:
x = 10 / 2
print(x)

5.0

In [ ]:
type(x)

float

## String Conversions

You can also use int() and float() to convert between strings and integers.

You will get an error if the string does not contain numeric characters.

In [ ]:
x = '123'
type(x)

str

In [ ]:
#This will result in an error
print(x + 1)

TypeError: ignored

In [ ]:
y = int(x)
type(y)

int

In [ ]:
#123 + 1
print(y + 1)

124

In [ ]:
#If you put something into it, a string that doesn't consist of digits, it will result in an error
y = 'hello world'
z = int(y)

ValueError: ignored

## User Input

We can instruct Python to pause and read data from the user using the **input()** function.

The **input()** function returns a string.

In [ ]:
name = input('Whats your name?')
print('Hello', name)

Whats your name?Joao
Hello Joao

## Conditional Execution

The key word that we're going to use is the "if" statement. "If" is a reserved word.
<br><br>
The If statement has as part of it a question that it asks, in the example below: x is less than 10? and x is less than 20?<br>
After the question, begin an indented block<br>
If the line is true, the line executes.

In [ ]:
x = 5
if x < 10:
    print('Smaller')
if x > 20:
    print('Bigger')

print('Finish')

Smaller
Finish

## Comparison Operators

Boolean expressions ask a question and produce a Yes or No result (1 or 0) wich we can use to control program flow

Boolean expressions using comparison operators evalueate to True / False or Yes / No

Comparison operators look at variables but **do not change** the variables<br><br>


<table>
  <tr>
    <th>Python</th>
    <th>Meaning</th>
  </tr>
  <tr>
    <td><</td>
    <td>Less than</td>
  </tr>
    <td><=</td>
    <td>Less than or Equal to</td>
  </tr>
  <tr>
    <td>==</td>
    <td>Equal to</td>
  </tr>
  <tr>
    <td>></td>
    <td>Greater than</td>
  </tr>
  <tr>
    <td>>=</td>
    <td>Greater than or Equal to</td>
  </tr>
  <tr>
    <td>!=</td>
    <td>Not Equal</td>
  </tr>
 </table>


* "=" is used for assignment.

<br>We don't just have to have a single line of text in the indented block. If we ident more than one line, as long you stay indented, you stay in that if block.

In [ ]:
x = 5
print('Beginning: 5')

if x == 5: 
    print('First indented block')
    print('Second indented block')
    print('Third indented block')
print('After first If')

if x > 5:
    print('Second If, First indented block')
    print('Second If, Second indented block')
    print('Second If, Third indented block')
print('After first & second If')

Beginning: 5
First indented block
Second indented block
Third indented block
After first If
After first & second If

##Indentation

Increase indent after an **if** statement or **for** statement (after ":").

Maintain indent to indicate the scope of the block (which lines are affected by the if/for).

Reduce indent back to the level of the if/for statement to indicate the end of the block.

Blan lines are ignored - they dont affect indentation

## Two-Way Decisions

It introduces a new concept called "Else"

Its like a fork in the road - we must choose one or the other path but not both

In [ ]:
x = 4

if x > 2:
    print('Bigger than 2')
else:
    print('Smaller than 2')

print('All done!')

Bigger than 2
All done!

## Multi-Way Decisions

It introduces a new concept called "Elif"

In the example below:
It's either gonna run one and then skip the other two;
Or it's going to skip one, skip two an then run the "Else"

In [ ]:
x = 1

if x < 2:
    print('Small')
elif x < 10:
    print('Medium')
else:
    print('Large')

Small

We can have no else, and this means that it might not run any of them (if / elif):

In [ ]:
#No else
x = 50

if x < 2:
    print('Small')
elif x < 10:
    print('Medium')
print('All done!')

All done!

## The try / except Structure

* If the code in the **try** works - the **except** is skipped

* If the code in the **try** fails - it jumps to the **except** section

In [ ]:
#Except
text = 'Hello World'
try:
    text_to_number = int(text)
except:
    text_to_number = -1

print(text_to_number)

-1

In [ ]:
#Try
text = '123'
try:
    text_to_number = int(text)
except:
    text_to_number = -1

print(text_to_number)

123

Another example:

In [ ]:
text = 'Joao'

try:
    print('Hello')
    text2 = int(text)
    print('Joao')
except:
    text2 = -1

print('All done!', text2)

Hello
All done! -1

## Functions

Function is some reusable code that takes arguments as input, does some computation, and then returns a result(s)

New Key Word **def** that stands for defined function.

We can invoke/call the function by using the function name, parentheses, and arguments in an expression.

In [ ]:
#here is the definition of a function
def HelloWorld():
    print('Hello')
    print('World')

#here is the invoking of the function
HelloWorld()
print('Im using def')
HelloWorld()

Hello
World
Im using def
Hello
World

### There are two kinds of functions in Python:

* **Built-in Functions** that are provided as part of Python: print(), input(), type(), float(), int()...

* **Functions that we define ourselves** and then use


We treat the built-in function name as "new" reserved words (avoid them as variable names)

## Building our Own Function

We create a function using the **def** key word followed by optional parameters in parentheses

We ident the body of the function

This defines the function but does not execute the body of the function

In [ ]:
#This is not calling/invoking the function. It's remembering, storing.
def print_helloworld():
    print('Hello')
    print('World')

In [ ]:
#Here we are calling/invoking the function.
print_helloworld();

Hello
World

### Arguments

An argument is a value that we pass into the function as its input when we call the function

We use arguments so we can direct the function to do different kinds of work when we call it at different times

We put the arguments in parentheses after the name of the function<br>

### Parameters

A Parameter is a variable which we use in the **function definition**. <BR>
It's a "handle" that allows the code in the function to access the **arguments** for a particular function invocation<br>

In [ ]:
#"test_function" is the argument, the things that are coming in.
#The test_function only exist during the line of the function, it's like a placeholder that refers to how you touch your parameters

def example_function(test_function):
    if test_function == 1:
        print('One')
    elif test_function == 2:
        print('Two')
    else:
        print('Three')

example_function(1)

example_function(2)

example_function(3)

One
Two
Three

### Return Values

Often a function will take its arguments, do some computation and return a value to be used as the value of the function call in the **calling expression**.<br>
The return keyword is used for this.

In [ ]:
def greet():
    return 'Hello'

print(greet(), 'Joao')
print(greet(), 'Pedro')

Hello Joao
Hello Pedro

A *fruitful* function is one that produces a result (or return value)

The return statement ends the function execution and "sends back" the result of the function

In [ ]:
def greet(language):
    if language == 'spanish':
        return 'Hola'
    elif language == 'portuguese':
        return 'Olá'
    else:
        return 'Hello'

print(greet('spanish'), 'Juan' )

print(greet('portuguese'), 'Joao' )

print(greet('english'), 'John' )

Hola Juan
Olá Joao
Hello John

### Multiple Parameters/Arguments

We can define more than one parameter in the **function definition**

We simply **add more arguments** when we **call** the function

We match the number and order of arguments and parameters

In [ ]:
def add_two_numbers(a, b):
    added = a + b
    return added

x = add_two_numbers(3, 5)
print(x)

8

### Void (non-fruitful) Functions

* When a function does not return a value, we call it a "void" function

* Functions that return values are "fruitful" functions

* Void functions are "not fruitful"

## Loops and Iteration

Loops (Repeated Steps) have iteration variables that change each time through a loop. Often these iteration variables go through a sequence of numbers.

In [ ]:
n = 5

while n > 0:
    print(n)
    n = n - 1
print('The number is < 0')
print(n)

5
4
3
2
1
The number is < 0
0

### Breaking Out of a Loop

The **break** statement ends the current loop and jumps to the statement immediately following the loop

It is like loop test that can happen anywhere in the body of the loop

In [ ]:
while True:
    line = input('Type here: ')
    if line == 'done':
        break;
    print(line)
print('Done!')

Type here: a
a
Type here: a
a
Type here: b
b
Type here: 123123
123123
Type here: adsd
adsd
Type here: done
Done!

### Finishing an Iteration with continue

The continue statement ends the current iteration and jumps to the top of the loop and starts the next iteration

In [ ]:
while True:
    line = input('Type here: ')
    if line[0] == '#':
        continue
    if line == 'done':
        break
    print(line)
print('All Done!')

Type here: # don't print this
Type here: print this
print this
Type here: done
All Done!

## Definite Loops

* Quite often we have a list of items of the lines in a file - effectively a **finite set** of things

* These loops are called 'Definite Loops' because they execute an exact number of times

* We say that "define loops iterate through the members of a set"

In [ ]:
# Simple Definite Loop
for i in [5, 4, 3, 2, 1]:
    print(i)
print('All Done!')

5
4
3
2
1
All Done!

In [ ]:
# Simple Definite Loop with String
countries = ['USA', 'Egypt', 'Canada']

for country in countries:
    print('Countries that I would like to visit:', country)
print('All Done!')

Countries that I would like to visit: USA
Countries that I would like to visit: Egypt
Countries that I would like to visit: Canada
All Done!

In [ ]:
# Looping through a Set
print('Before')
for actual_number in [0, 12, 29, 53, 6, 50, 8]:
    print(actual_number)
print('After')

Before
9
18
27
36
45
54
After

In [ ]:
# Finding the Largest Number
# We make a variable that contains the largest value we have seen so far. If the current number we are looking at is larger, it is the new largest value we have seen so far
largest_number_so_far = -1

print('Before', largest_number_so_far)

for actual_number in [0, 12, 29, 53, 6, 50, 8]:
    if actual_number > largest_number_so_far:
        largest_number_so_far = actual_number
    print('Loop:', largest_number_so_far, actual_number)

print('After', largest_number_so_far)

Before -1
Loop: 0 0
Loop: 12 12
Loop: 29 29
Loop: 53 53
Loop: 53 6
Loop: 53 50
Loop: 53 8
After 53

In [ ]:
# Finding the Smallest Number
smallest = None
print("Before:", smallest)
for itervar in [3, 41, 12, 9, 74, 15]:
    if smallest is None or itervar < smallest:
        smallest = itervar
    print("Loop:", itervar, smallest)
print("Smallest:", smallest)

Before: None
Loop: 3 3
Loop: 41 3
Loop: 12 3
Loop: 9 3
Loop: 74 3
Loop: 15 3
Smallest: 3

### Counting in a Loop

* To count how many times we execute a loop, we introduce a counter variable that starts at 0 and we add one to it each time through the loop

In [ ]:
counter = 0
print('Before', counter)
for thing in [0, 12, 29, 53, 6, 50, 8]:
    counter = counter + 1
    print("Loop:", counter, thing)
print('After', counter)

Before 0
Loop: 1 0
Loop: 2 12
Loop: 3 29
Loop: 4 53
Loop: 5 6
Loop: 6 50
Loop: 7 8
After 7

### Summing in a Loop

* To add up a value we encounter in a loop, we introduce a sum variable that starts at 0 and we add the value to the sum each time through the loop

In [ ]:
sum = 0
print('Before', sum)
for thing in [0, 12, 29, 53, 6, 50, 8]:
    sum = sum + thing
    print('Loop thing:', thing, 'Loop sum:', sum)
print('After', sum)

Before 0
Loop thing: 0 Loop sum: 0
Loop thing: 12 Loop sum: 12
Loop thing: 29 Loop sum: 41
Loop thing: 53 Loop sum: 94
Loop thing: 6 Loop sum: 100
Loop thing: 50 Loop sum: 150
Loop thing: 8 Loop sum: 158
After 158

### Finding the Average in a Loop

* An average just combines the counting and sum patterns and divides when the loop is done

In [ ]:
sum = 0
count = 0
print('Before')
for value in [0, 12, 29, 53, 6, 50, 8]:
    sum = sum + value
    count = count + 1
    print('Loop value:', value, 'Loop sum:', sum, 'Loop count:', count)
print('After value:', value, 'After sum:', sum, 'After count:', count, 'After average', sum/count)

Before
Loop value: 0 Loop sum: 0 Loop count: 1
Loop value: 12 Loop sum: 12 Loop count: 2
Loop value: 29 Loop sum: 41 Loop count: 3
Loop value: 53 Loop sum: 94 Loop count: 4
Loop value: 6 Loop sum: 100 Loop count: 5
Loop value: 50 Loop sum: 150 Loop count: 6
Loop value: 8 Loop sum: 158 Loop count: 7
After value: 8 After sum: 158 After count: 7 After average 22.571428571428573

### Filtering in a Loop

* We use an if statement in the loop to catch/filter the values we are looking for

In [ ]:
print('Before')
for value in [9, 41, 12, 3, 74, 15]:
    if value > 20:
        print('Large number', value)
print('After')

Before
Large number 41
Large number 74
After

### Search Using a Boolean Variable 

* If we just want to search and know if a value was found, we use a variable that starts at False and is set to True as soon as we find what we are looking for.

In [ ]:
found = False
print('Before', found)
for value in [9, 41, 12, 3, 74, 15]:
    if value == 3:
        found = True
    print(found, value)
print('After', found)

Before False
False 9
False 41
False 12
True 3
True 74
True 15
After True

### The "is" and "is not" Operators

* Python has an "is" operator that can be used in logical expressions

* Implies "is the same as"

* Similar to, but stronger than ==

'Is' is stronger than equals, meaning that it demands equality in both type of the variable and the value of the variable

In [1]:
smallest = None
print('Before')
for value in [9, 41, 12, 3, 74, 15]:
    if smallest is None:
        smallest = value
    elif value < smallest:
        smallest = value
    print(smallest, value)

print('After', smallest)

Before
9 9
9 41
9 12
3 3
3 74
3 15
After 3

In [4]:
0 == 0.0

True

In [5]:
0 is 0.0

False

In [6]:
0 is not 0.0

True