<a href="https://colab.research.google.com/github/joaopedropeira/Python/blob/main/Scientific_Computing_Python_4Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Tuples
---
### Third Kind of Collection


* Tuples are like lists

* Tuples are another kind of sequence that functions much like a list - they have elements which are indexed starting at 0

In [1]:
x =  ('Glenn', 'Sally', 'Joseph')
print(x[2])

Joseph

In [4]:
y = (1, 2 , 3)
print(y[0])

1

In [5]:
print(max(y))

3

In [7]:
for num in y:
    print(num)

1
2
3

### Tuples are "Immutable"

* **Unlike** a **list**, once you **create** a **tuple**, you **can't alter** its **contents** - similar to a string

In [8]:
#creating a list and changing the number of the 2 position 
x = [9, 8, 7]
print(x[2])
x[2] = 20
print(x[2])

7
20

In [9]:
#Tracebck, because we can't alter
y = 'ABC'
y[2] = 'D'

TypeError: ignored

In [10]:
#Traceback because tuples don't support item assignment
z = (9, 8, 7)
print(z[2])
z[2] = 20
print(z[2])

7

TypeError: ignored

### Tuples are more Efficient

* **Tuples** are **simpler** and **more efficient** in terms of **memory use** and **performance** than **lists**

* So in our program we are making **"temporary variables"** we **prefer tuples over lists**

### Tuples and Assignment

* We can also put a **tuple** on the **left-hand side** of an **assignment statement**

* We can even omit the parentheses

In [11]:
(x, y) = (4, 'fred')
print(y)

fred

In [12]:
(a, b) = (87, 78)
print(a)

87

### Tuples and Dictionaries

* The items() method in dictionaries returns a list of (key, value) tuples

In [16]:
d = {}
d['joao'] = 1
d['pedro'] = 4

for (key, value) in d.items():
    print(key, value)

joao 1
pedro 4

In [17]:
tups = d.items()
print(tups)

dict_items([('joao', 1), ('pedro', 4)])

### Tuples are Comparable

* The **comparison operators** work with **tuples** and other sequences. **If the first item is equal**, **Python goes on** to the **next element**, and so on, **until it finds that differ**

In [19]:
(0, 1, 2) < (5, 2, 3)

True

In [20]:
(0, 1, 2000) < (0, 3, 4)

True

In [22]:
(3, 4 , 5) < (0, 1, 2)

False

## Comparing and Sorting Tuples
---
### Sorting Lists of Tuples


* We can take advantage of the **ability to sort a list of tuples** to **get** a **sorted version** of a **dictionary**

* **First** we **sort** the **dictionary** by the **key** using the **items()** method and **sorted()** function

In [23]:
d = {'a' : 10, 'b' : 1, 'c' : 22}
d.items()

dict_items([('a', 10), ('b', 1), ('c', 22)])

In [26]:
sorted(d.items())

[('a', 10), ('b', 1), ('c', 22)]

### Using sorted()


* We can do this even more directly using the buil-in function sorted that takes a sequence as a parameter and returns a sorted sequence

In [27]:
d = {'a' : 10, 'b' : 1, 'c' : 22}
t = sorted(d.items())
t

[('a', 10), ('b', 1), ('c', 22)]

In [28]:
for k,v in t:
    print(k,v)

a 10
b 1
c 22

### Sort by values instead of key


* If we could construct a list of tuples of the from (value, key) we could sort by value

* We do this with a for loop that creates a list of tuples

In [31]:
#creating a dictionary
d = {'a' : 10, 'b' : 1, 'c' : 22}

#creating a empty list
tmp = list()

print(d.items())
#inserting the Value / Key in the list
for k,v in d.items():
    tmp.append((v,k))
print(tmp)

dict_items([('a', 10), ('b', 1), ('c', 22)])
[(10, 'a'), (1, 'b'), (22, 'c')]

In [33]:
#now its sorted in descending order by the Value
tmp = sorted(tmp, reverse = True)
print(tmp)

[(22, 'c'), (10, 'a'), (1, 'b')]

In [ ]:
#Shorter Version
d = {'a' : 10, 'b' : 1, 'c' : 22}
print(sorted([(v,k) for k,v in d.items()]))

### The top 10 most common words

In [36]:
#connecting to google drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [43]:
xfile = open('/content/drive/MyDrive/Colab Notebooks/test.txt')
counts = {}

for line in xfile:
    words = line.split()
    for word in words:
        counts[word] = counts.get(word, 0) + 1
print('Counting words:', counts)

lst = []
for key,val in counts.items():
    newtuple = (val,key)
    lst.append(newtuple)
print('My list by value / key:', lst)

lst = sorted(lst, reverse = True)
print('My list inverted:', lst)

print('Printing the top 10 common words in that file:')
for val, key in lst[:10]:
    print(key,val)

Counting words: {'Hello': 2, 'World!': 2, 'cheese': 1, '2': 1}
My list by value / key: [(2, 'Hello'), (2, 'World!'), (1, 'cheese'), (1, '2')]
My list inverted: [(2, 'World!'), (2, 'Hello'), (1, 'cheese'), (1, '2')]
Printing the top 10 common words in that file:
World! 2
Hello 2
cheese 1
2 1